<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TheKenyanDatabase</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%load static%}
        {%load bootstrap5%}
        {% bootstrap_css%}
        {% bootstrap_javascript%}
        {% bootstrap_messages%}
        <link rel="stylesheet" href="{% static 'app/index.css'%}">
    </head>
    <body>
        <div class="page">
            <div class="top-part">
                <div class="username-profile">
                    <img src="#" alt="profile photo">
                    <section class="username-section">username</section>
                </div>
                <div class="logo">
                    <div class="logo-container">
                        <div class="logo-rendering">
                            <h5>TheKenyanDatabase</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-part">
                <div class="headings">
                    <ul>
                        <li>kenya today</li>
                        <li>politics</li>
                        <li>agriculture</li>
                        <li>population</li>
                        <li>crime</li>
                        <li>relegion</li>
                        <li>bussiness</li>
                        <li>more options</li>
                    </ul>
                </div>
                <div class="contents">
                    <h1>hello contents</h1>
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>

                      <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>

                      <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>


        <script src="" async defer></script>
    </body>
</html>