.page{
    background-color: #DCC1A7;
}

.top-part{
    display: flex;
    justify-content: space-between;
}

.bottom-part{
    background-color: #ffffff;
}
.headings{
    background-color: #ffffff;
    margin-bottom: 0;
}
.headings ul{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.headings li{
    background-color: #d9d9d9;
    list-style: none;
    padding: .2em, 2em, 2em, 3em;
    width: 6em;
}
.contents{
    background-color: #d9d9d9;
    margin-top: 0;
}